@font-face {
  font-family: 'EudaldNews';
  src: url('EudaldNews-Bold.eot'); /* IE9 Compat Modes */
  src: url('EudaldNews-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('EudaldNews-Bold.woff') format('woff'), /* Modern Browsers */
       url('EudaldNews-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('EudaldNews-Bold.svg#5b4038336973a29c14914c0a293cb8fb') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}
@font-face {
  font-family: 'EudaldNews';
  src: url('EudaldNews-Medium.eot'); /* IE9 Compat Modes */
  src: url('EudaldNews-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('EudaldNews-Medium.woff') format('woff'), /* Modern Browsers */
       url('EudaldNews-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('EudaldNews-Medium.svg#d42264f9b07cc8c1e878d74181991b9b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  normal;
}


@font-face {
  font-family: 'National';
  src: url('National-Bold.eot'); /* IE9 Compat Modes */
  src: url('National-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('National-Bold.woff') format('woff'), /* Modern Browsers */
       url('National-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('National-Bold.svg#2757342ce4032dcc4479b1f9556ffdd5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'National';
  src: url('National-Book.eot'); /* IE9 Compat Modes */
  src: url('National-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('National-Book.woff') format('woff'), /* Modern Browsers */
       url('National-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('National-Book.svg#62964daa208bbf45b5fd237d4707a30a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'National';
  src: url('National-Light.eot'); /* IE9 Compat Modes */
  src: url('National-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('National-Light.woff') format('woff'), /* Modern Browsers */
       url('National-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('National-Light.svg#883f8766c5a079ca1bc5d2f5340c2057') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}