.acf-field-560e7b92288c3 li{
	margin-top:30px !important;
	display:inline-block;
	margin-left:30px !important;
background-color: #e8e8e8;
	padding:10px;
}
.acf-field-560e7b92288c3 li:nth-child(1){
	background-color:transparent;
}
.acf-field-560e7b92288c3 li input{
	display:inline-block;
	margin-top:-75px !important;
	margin-right:20px !important;
}
.acf-field-560e7b92288c3 li:nth-child(1) label{
	display:inline-block;
	margin-top:-100px !important;
}
.acf-field-560e7b92288c3 li img{
	display:inline-block;
	height:100px;
	width:auto;
}

.acf-field-use-custom-sidebar{
	display:none;
}	
#toplevel_page_wpseo_dashboard, #wp-admin-bar-wpseo-menu, #wpseo_meta{
	display:none;
}
.role-gfd_seo #wpseo_meta, .role-gfd_seo #toplevel_page_wpseo_dashboard, .role-gfd_seo #wp-admin-bar-wpseo-menu{
	display:block;
}
.nmp-hide-menu-item{
	display:none;
}
#adminmenuwrap{
	height:1400px;
}
.menu-icon-dashboard{
	display:none;
}