@import "gfd-mixins.less";
@import "../fonts/fonts.less";				// custom fonts loading
@import "bootstrap/bootstrap.less";			//edit this file to remove uneeded crap
@import "../css/vendor/animate.less";		// all animated stuff goes in here
@import "other.less";						// if you need to separate the code

/* ==========================================================================
   Base
   ========================================================================== */

body {
  overflow-x: hidden  //fix horizontal scrollbar
}


h1{font-family: @h1-font; color: @h1-color;}
h2{font-family: @h2-font; color: @h2-color;}
h3{font-family: @h3-font; color: @h3-color;}
h4{font-family: @h4-font; color: @h4-color;}
h5{font-family: @h5-font; color: @h5-color;}

.give-me-padding,
.padme{ padding: 30px;}
.pad-left{padding-left: 40px;}
.pad-right {padding-right: 40px;}
.pad-bottom {padding-bottom: 30px;}
.pad-top {padding-top: 30px;}


//--------| ANIMATIONS AND HOVER EFFECTS (Global) |----------------

.btn{ transition: all 0.4s ease 0s; }

.button:hover,
.btn:hover {
  animation: pulse 500ms ease-out;
  -webkit-animation: pulse 500ms ease-out;

}
.navbar{
	border-bottom:0 !important;
}
.navbar-toggle:hover,
.navbar a:hover{
  text-decoration: none;
}
.content p > a:hover {
  animation: pulse 500ms ease-out;
  -webkit-animation: pulse 500ms ease-out;
}

.social [class^="icon-"]:hover {
  animation: zoomitbig 500ms ease-out;
  -webkit-animation: zoomitbig 500ms ease-out;
  text-decoration: none;
}


/* ==========================================================================
   Header
   ========================================================================== */

.banner { }
.top-banner {
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 400px;
}
.header-logo img {width: 200px; }


//----animated header
.navbar-fixed-top.sticky {  //how it looks when you scroll
  min-height: 40px;
  font-size: 14px;


  .header-logo img {width: 175px;   transition: all 0.7s ease;}
  .navbar-nav > li.active > a {color: @link-color;}

  .navbar-brand,
  .navbar-nav > li > a {
    padding-top: 7px;
    padding-bottom: 7px;
    transition: all 0.4s ease;
    color: @brand-primary;


  }

  .navbar-toggle{
    padding: 6px 10px;
    margin-top: 6px;
    .icon-bar{
      background-color: @brand-primary;
    }
  }

  .navbar-toggle.toggle-two {
    right: 58px;
    color:@brand-primary;
  }

}

.navbar-fixed-top{
  transition: all 0.7s ease;
}

/* Override Bootstrap Responsive CSS fixed navbar
   Actual issue with bootstrap, thanks obama! http://goo.gl/9MLrMd

*/
@media (max-width: 979px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: fixed;
    margin-left: 0px;
    margin-right: 0px;
  }
}



//======== BOX Layout IMAGE Styling ============
//______________Requires ACF5___________________

.img-container-right,
.img-container-left {padding: 0px; display: inline-block; position: absolute; height: 100%}

.img-container-right{right: 0px}
.img-container-left{left: 0px;}

.box-main {position: relative; overflow: hidden;}
.box-content {display: inline-block; height: auto;}

.box-img{
  background-size: cover;
  background-position: center left;
  background-repeat:no-repeat;
  min-height: 340px;
  height: 100%;
}

.gallery-container .image-wrap img.img-responsive {
  //border: 10px solid #24212C;
  //transition: all 0.4s ease 0s;
  &:hover{
    opacity: 0.6;

  }
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }

//---compensate for our sticky footer
.nav-height,
aside.sidebar.col-sm-4,
.wrap.container.st-content-inner{
// padding-top: @navbar-height; //cant be margin messes up blog on responsive
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

/* ==========================================================================
   Woocommerce Specific
   ========================================================================== */

.cart-links{
  float: left;
  padding-top: 28px;
  padding-left: 20px;
  font-size: 13px;
  color: @navbar-default-link-color;
  text-transform: uppercase;
  a{color:  @navbar-default-link-color;}
  .icon-cart{

    padding-right: 5px;

  }
}

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price{
  font-family: @headings-font-family;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product{
  width: 30.05%;
}


.woocommerce .widget-inner .button {
  font-family: @headings-font-family;
  font-size: 14px;
}

#wrapper tr.cart-subtotal th {width: 100%;}

.widget_shopping_cart{background: #D7E6F0 !important;}
.woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before,
.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before {padding-top: 2px;}

.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt
{
  .btn();
  .btn-primary();
  box-shadow: none;
  text-shadow: none !important;
  transition: all 0.4s ease 0s;
  &:hover{
    background: @link-color;
    color: white;
  }
}

.woo-sidebar{max-width: 300px;}
.woocommerce-page .wrap.container{ .nav-height()}
.woocommerce-page.cart .wrap.container,
.woocommerce-page.checkout .wrap.container{margin-top: 0px;}
.woocommerce-page .summary span.amount {font-family: @headings-font-family; font-size: 32px;}


//-- hover category effect ------
.widget_product_categories a:hover{text-decoration: none; }
.widget_product_categories a::before,
.widget_product_categories a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.widget_product_categories a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.widget_product_categories a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.widget_product_categories a:hover::before,
.widget_product_categories a:hover::after,
.widget_product_categories a:focus::before,
.widget_product_categories a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

//----end hover category effect-

/* ==========================================================================
   Input Boxes / Gravity Forms
   ========================================================================== */

.form-control,
input,
textarea,
.chosen-container-single .chosen-single,
.top_label input.medium,
input[type=text],
input[type=url],
input[type=email],
input[type=tel],
input[type=number],
input[type=password]{
  font-size: @font-size-base;
  background: lighten(@link-color, 35%);
  border: 1px solid lighten(@link-color, 20%);
  padding: 6px 12px ;
  color: @link-color;
  margin-bottom: 5px;
  border-radius: 0px;
 // min-height: 35px;
  box-shadow: none !important;
  transition: background 0.4s ease 0s;

  &:focus{
    background: lighten(@link-color, 25%);
  //  animation: pulse 200ms ease-out;
  //  -webkit-animation: pulse 200ms ease-out;

  }

  &:hover{
    background: lighten(@link-color, 33%);
  }
}

.button {
  .btn();
  .btn-primary();
  transition: all 0.4s ease 0s;

  &:hover{
    background: @link-color;
  }
}


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.post{
  .pad-bottom();
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Side Nav for Mobile
   ========================================================================== */


#wrapper {
 // padding-left: 250px;
  transition: all 0.4s ease 0s;
}


.side-search{
  padding: 20px;
  input.search-field.form-control {
    background: #292929;
    border: 2px solid #222;
    box-shadow: inset 1px 1px 10px #222 !important;
    color: @link-color;
  }

  .btn-default {
    color: @link-color;
    background-color: #222;
    border-color: #1a1a1a;
  }
}
#menu-toggle {
  display: inline-block;
}

ul.nav li.dropdown:hover ul.dropdown-menu{ display: block;}
#sidebar-wrapper ul.dropdown-menu li{ border-left: 1px solid darken(@brand-primary,40%);}

.inset { padding: 15px;}
.navbar{z-index: 99;}
.navbar-toggle{z-index: 100; position: absolute; right: 0px; color: @link-color;  transition: all 500ms ease-in-out; }
.navbar-inverse .navbar-toggle .icon-bar { background-color: @link-color;}
.navbar-toggle.toggle-two{right: 50px; color: @link-color;}


/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }
.gfdcopy{ a{color: @brand-primary}}

footer .widget {
  color: #fff - @brand-primary;
}


.social [class^="icon-"]{
  font-size: 37px;
  color: @link-color;
  float: left;
  padding: 7px 2px;
  cursor: pointer;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


//--small-laptops
@media (max-width: @screen-lg-min) {


}//---end-lg-min


//--big ipads--
@media (max-width: @screen-md-min) {
  .copyright {position: relative;}

}//---end--md-min

//small devices and ipad
@media (max-width: @screen-sm-min) {

  .copyright,
  ul#menu-footer {
    text-align: center;
  }



  .input-group-btn .btn{margin: 0px 0px;}
  .box-main .pad-left,
  .box-main .pad-right{padding-left: 0px; padding-right: 0px}


  //===========RESPONSIVE MENU ---------------------------

  //--------- Toggle animation

  button.navbar-toggle span,
  button.navbar-toggle span:before,
  button.navbar-toggle span:after {
    transition: all 500ms ease-in-out;
  }

  button.navbar-toggle.active span {
    background-color: transparent;
    // position: absolute;
  }

  button.navbar-toggle.active span:nth-child(4) {
    top: 0;
    opacity: 0;
  }
  button.navbar-toggle.active span:nth-child(2) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 13px;
    position: absolute;
  }
  button.navbar-toggle.active span:nth-child(3) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  //--------- Mobile dropdown menu

  .navbar-mobile {
    .dropdown-menu {
      height: 0; width: 0;
      overflow: hidden;
      -webkit-transition: height 0.8s;
      -moz-transition: height 0.8s;
      transition: height 0.8s;
    }
    .on .dropdown-menu {
      height: auto; width: 100%;
      overflow: visible;
    }
  }

  //--------- Sidebar coming out
	#sidebar-wrapper{
//		display:none;
	}
  #sidebar-wrapper .nav > .active {
    .arrow(20px, #cccccc, left, 0);
    &:before {
      top: 25px;
      left: 230px;
      right: auto;
      border-right-color: #cccccc;
    }
  }

  #sidebar-wrapper .dropdown-menu {
    position: relative;
    left: auto;
    top: auto;
    display: block;
    background: none;
    border: none;
    padding-left: 15px;
    box-shadow: none;
    width: 100%;
    transition: all 0.4s ease 0s;

    li{
      border-left: none !important;
      border-bottom: none !important;
      a{
        color: darken(@link-color, 20%);
        padding: 10px 0px;
      }

    }

  }

  #sidebar-wrapper :hover {
    background: none;
  }

  #content-wrapper {
    width: 100%;
  }
  #sidebar-wrapper .navbar-nav {
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #sidebar-wrapper .navbar-nav li {
    line-height: 40px;
    text-indent: 20px;
    border-bottom: 1px solid #222;
    padding: 5px;
  }

  #sidebar-wrapper .navbar-nav li a {
    display: block;
    text-decoration: none;
    text-transform:uppercase;
    padding-left:0px;
  }

  #sidebar-wrapper .navbar-nav li a:active,
  #sidebar-wrapper .navbar-nav li a:focus {
    text-decoration: none;
  }

  #sidebar-wrapper .navbar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
  }

  .active .st-pusher:after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  .st-pusher:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  }

  .st-container {
    position: relative;
    overflow: hidden;
  }

  .st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    width: 250px;
    // background: @brand-primary;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

    background: #333;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  }

  .st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }


  //  push effect
  //-----------Other options http://tympanus.net/Development/SidebarTransitions/ -------
  .st-effect-7.st-container {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    -webkit-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;
  }

  .st-effect-7 .st-pusher {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .st-effect-7.active .st-pusher {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
  }

  .st-effect-7.st-menu {
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
    transform: translate3d(-100%, 0, 0) rotateY(-90deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .st-effect-7.active .st-effect-7.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
    transform: translate3d(-100%, 0, 0) rotateY(0deg);
  }
  //---- end of the effect ---

}

.st-pusher.row{
	margin:0;
}
@media (min-width: @screen-lg) {
	.st-pusher.row{
		margin-left:-15px;
		margin-right:-15px;
	}
}

