/* GENERAL */

html,
body {
  height: 100%;
	font-size:100%;
  /* The html and body elements cannot have any padding or margin. */
}

body{
/*	background-color:@offwhite;
	color:@black;
	font-family: "National","Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

body{
	overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6{
	margin: 0 0 1em;
/*	line-height:1.2;
	color:inherit;
	font-family:inherit;*/
}


.serif{
	font-family:@serif;
}
.upper{
	text-transform:uppercase;
}
strong{
	font-weight:700;
}
.vert-center{
	position: relative;
	top: 40%;
	transform: translateY(-60%);
}
.navbar-fixed-top{
	border:0;
	
	.sticky{
		font-size:inherit;
	}
}
/* IMAGE OVERLAY */
.overlay-wrapper{
	text-align:center;
	width:100%;
	position:relative;
}
.overlay-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align:center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
}
.overlay {
	z-index: 9;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(80,80,80, 0);
	.transition();
}
.overlay-content {
	z-index: 10;
	display: block;
	opacity:1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	.transition();
}
.overlay-hover-content {
	z-index: 10;
	opacity:0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	.transition();
}
.overlay-wrapper.hoverable:hover{
	.overlay-hover-content {
		opacity:1;
		.transition();
	}
	.overlay-content {
		opacity:0;
		.transition();
	}
	.overlay{
		background: rgba(255,255,255, 1);
		.transition();
	}
}


/* Sticky and other theme styles
-------------------------------------------------- */

button.navbar-toggle{
	top:1em;
	margin-top:1em;

	.icon-bar{
		width:33px;
		height:3px;
		background-color:@black;
	}
	
	.icon-bar+.icon-bar{
		margin-top:6px;
	}
	
	&.active{
		background-color:@white;
	
		span:nth-child(2),span:nth-child(3){
			background-color:@black;
		}

		.icon-bar+.icon-bar{
			margin-top:4px;
		}

	}
}


.interior{
	border: solid 1px @light-gray;
}

.logged-in{
	#sticky-action-bar.action-bar{
		top: @admin-bar-height;
	}
	
	a.anchor{
		top:-102px;
	}
}
#header-clone{
	display:none;
}
.stuck-navbar #header-clone {
	display:block;
}
.st-container, .st-container.stickyfooter{
	margin-top:-@header-height;
	padding-top:@header-height;	
}
.st-container.container.active{
	min-height:100vh;
	padding-left:0;
	padding-right:0;
	margin-left:-15px;
	.st-pusher{
		min-height:100vh;
		#sidebar-wrapper{
			display:inline-block;
		}
		.st-content-inner{
			padding-left:15px;
		}
	}
}
#sidebar-wrapper{
	min-height:100vh;
	.navbar-nav{
		li{
			a{
				font-size:2em;
				font-weight:200;
			}
		}
	}
}
#wrapper.inactive{
	#sidebar-wrapper{
		display:none;
	}
}
.mobile-menu{
	display:block;
}

/* Wrapper for page content to push down footer */
.stickyfooter {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -@footer_height;
  /* Pad bottom by footer height */
  padding: 0 0 @footer_height;
}
.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutter [class^="col-"],
.row.no-gutter [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}


.cblock{
	position:relative;
	display:block;
	
	text-align:center;

	padding:3em 0;
	
	@media(min-width:768px){
		padding:6em 0;
	}

	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	
	.gallery-item{
		display:inline-block;
		text-align:left;
	}
	.products-gallery{

		.slick-arrow{
			display:none !important;
		}

		.gallery-item{
			height: 300px;
			background-size:auto 100%;
			background-position:right center;
			background-repeat:no-repeat;
						
			.bottom-stick{		
				z-index:1;
				position:absolute;
				bottom:25px;
				left:0;
				width:100%;
			
				.item-description{
					margin-top:1em;
					color:@white;
					padding:0 25px;
				}
				
				.nmp-btn, .nmp-btn:hover, .nmp-btn:active, .nmp-btn:focus{
					color:@white;
					background-color: @green;
					border-color: @green;
					text-transform:none;
					font-weight:normal;
					padding: 0.5em 1em;
					max-width:80%;
					margin-left:25px;
				}		
			}
		}	

		.gallery-item:before{
			content:'';
			position:absolute;
			top:0;
			left:0;
			z-index:0;
			width:100%;
			height:100%;
			background: linear-gradient(to right, rgba(22,34,46,1) 0%,rgba(22,34,46,0.8) 30%,rgba(22,34,46,0.8) 100%);
			.transition();			
		}


	}
	.events-gallery{
		.gallery-item.event-item{
			padding: 75px 60px;
			border-left:1px solid #3b9653;
			background-size:cover;
			background-repeat:no-repeat;

			@media(min-width:992px){
				height:660px;
			}
			
			color:@white;
			text-align:left;
			.transition();

			.event-content{
				position:relative;
				z-index:1;
				height:100%;
			}

			h4.month{
				color: @dark-blue;
				.transition();
				text-transform:uppercase;
				font-weight:bold;
				letter-spacing:2px;
				margin-bottom:0;
			}

			.day{
				font-family:@serif;
				font-size:5.25em;
				font-weight:bold;
				line-height:1;					
				.transition();
			}
			
			h3{
			   font-size: 1.55em;
			   margin-top: 15px;
			   line-height: 25px;
			}
			
			.nmp-btn{
				display:block;
				margin:1em auto 0;
				
				text-transform:uppercase;
				color:@white;
				border-color:solid 2px @white;

				
				@media(min-width:768px){
					width:170px;
					padding:15px 30px;
				}
				@media(min-width:992px){
					position:absolute;
					bottom:0;
					left:50%;
					margin-left: -85px;
				}
			}
			
			.nmp-btn:hover{
				background-color: @green;
				border-color:@green;
			}
			
			h3{
				color:@white;
			}		
		}
		
		.gallery-item.event-item:first-child{
			border-left:none;
			padding: 75px 40px;
			background-size:auto;
			
			h1{
				line-height:0.8;
				font-weight:200;
				
				.serif{
					display:block;
					margin-top:0.3em;
					text-align:center;
					font-weight:normal;
				}
			}
			
			.nmp-btn:hover{
				background-color: @dark-blue;
				border-color:@dark-blue;
			}
			
			&:before{
				content:'&';
				color:@white;
				position:absolute;
				top:20px;
				left:30%;
				font-size:13em;
				font-family:@serif;
				z-index:0;
				opacity:0.13;
			}

		}
		
		.gallery-item.event-item:hover{
			.month{
				color:@white;
			}
			.day{
				color:@green;
			}
		}
	
		
		.gallery-item.event-item:before{
			content:'';
			position:absolute;
			top:0;
			left:0;
			z-index:0;
			width:100%;
			height:100%;
			background-color:@green;
			.transition();			
		} 
		.gallery-item.event-item:hover:before{
			background-color:rgba(22,34,46,0.9);
		}

		.gallery-item.event-item.hover-static:hover:before{
			background-color:@green;
		}

	}
}

/* start of middleton edits */

/* HEADER */

header#themeslug-navbar{
	background: white;
}

.navbar-header{
	width:100%;
	padding:1em 0;
	@media (min-width: 768px){
		padding:2em 0;
	}
}

.header-logo img {
	margin-left:15px;
	
	@media (min-width: 768px){
		width:auto !important;
		margin-left:0;
	}
}

.navbar-collapse {
	@media (min-width: 768px){
		float: right;
		padding:0;
	}
	
	 li{
		> a {
			text-transform:uppercase;
			.transition();

			@media (min-width: 768px){
					padding:15px 8px;
			}

			@media (min-width: 1200px){
				padding: 15px;
			}

			
		}
	
	}
}

.nav>li>a:hover, .nav>li>a:focus{
	background-color: transparent;
}

.utility-nav{
	margin-top:10px;
}
body.home {
	.utility-nav {
		li:first-child{
			display:none;
		}
	}
}
		

.utility-nav>.navbar-nav>li>a, .navbar-fixed-top.sticky .utility-nav>.navbar-nav>li>a{
	font-weight:bold;
	color:@green;
}
.utility-nav>.navbar-nav>li>a:hover, .navbar-fixed-top.sticky .utility-nav>.navbar-nav>li>a:hover{
	color:darken(@green, 15%);
}
.main-nav>.navbar-nav>li>a, .navbar-fixed-top.sticky .main-nav>.navbar-nav>li>a{
	color:@black;
	font-size:2.25em;
}
.main-nav>.navbar-nav>li>a:hover, .navbar-fixed-top.sticky .main-nav>.navbar-nav>li>a:hover{
	color:lighten(@black, 15%);
}

/* ACTION BAR */

.action-bar{
	background-color: @green;
	color:white;
	font-size:1.25em;
	padding: 1em 0;
	text-align:center;
	display:block;
	
	&.bottom{
	
		padding: 2em 0 5em;

		@media(min-width:992px){
			padding: 6em 0 9em;
		}
		
		&.hide{
			display:none;
		}
	}

	h2{
		font-weight:200;
		font-size:@font-size-h2 * 1.2;
	}

	form{
		display:block;
		width:auto;
		margin: 0 auto;
		position:relative;

		input{
			display:inline-block;
			color:white;
			margin-bottom:0;
		}
		
		input[type='text']{
			background:rgba(0,0,0,0.35);
			border:none;
			padding:8px 12px;
			margin: 0 0 0 20px;
			
			@media(min-width:768px){
				margin-right:20px;
			}
		}		
		input[type='submit'], .nmp-btn{
			background:transparent;
			border:2px solid white;
			text-transform:uppercase;
			font-weight:bold;
		}
	}

	.nmp-btn{		
		border:2px solid white;
		text-transform:uppercase;
		font-weight:bold;
		color:@white;	
		padding:0.6em 1em 0.5em;
	}	

}

/* ACTION BAR STICKY HEADER */

#sticky-action-bar.action-bar{
	position:fixed;
	top:0;
	left:0;
	z-index:10000;
	width:100%;
	display:none;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	
	.container{
		padding-left:0;
		padding-right:0;	
	}
}
#sticky-action-bar.action-bar.sticky{
	display:block;
}

/* PAGE HEADER */

.page-header-block{
	position:relative;
	display:block;

	padding:32.5% 0 4em;
	background-color:@dark-blue;
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align:center;
	
	
	h1{
		display:inline-block;
		margin:0 auto 1em;
		color:@white;
		font-family:@serif;
		position:relative;
				
		&:after{
			content:'';
			width:90%;
			height:1px;
			position:absolute;
			left:5%;
			bottom: -0.25em;
			background-color:@white;
		}
	}

	h3{
		text-align:center;
		color:@white;
	}
	
	a{
		color:@white;
	}

	
	a.video-button{

		position:relative;
		margin: 0.5em auto;
		
		@media(min-width:768px){
			position:absolute;
			left:50%;
			top: -140px;
			margin: 0 0 0 -45px;
		}

		width:88px;
		height:88px;
		border:1px solid @white;
		border-radius:45px;			
		display:block;		
	
		&:after{
			content:'';
			position:absolute;
			left:50%;
			top:50%;
			margin-left:-11px;
			margin-top:-21px;
			width: 0;
			height: 0;
			border-top: 20px solid transparent;
			border-left: 28px solid @white;
			border-bottom: 20px solid transparent;
		}
	}

}

/* CBLOCKZ */



.cblock.events-block{
	background-color:@green;
	padding:0;
}
.cblock.products-block{
	background-color:@dark-blue;
	padding:0;
	color:@white;
}


//hack
.home .cblock.floating-text-block{
	@media(max-width:767px){
		background-image:none !important;
		background-color:#d3cec5;	
	}
}

.cblock.floating-text-block{
		
	color:@dark-blue;
	
	h1{
		margin-bottom:0.25em;
		font-size: @font-size-h1 * .81;
		text-transform:uppercase;
	}
	
	p{
		font-size:2.25em;
		font-family:@serif;
		margin-bottom:2em;
	}
	
	a.nmp-btn{
		color:@white;
		border-color:@green;
		background-color:@green;
		display:block;
		width:auto;
		margin:0 auto;
		@media(min-width:768px){
			margin: 1em auto 0;
		}
	}

	.contact-div{
		
		color:@white;
	
		h1{
			font-size:@font-size-h1 * 0.8;
			font-weight:200;
		}
		h1.strong{
			font-weight:bold;
		}
		
		a.nmp-btn{
			color:@white;
			background-color:transparent;
			border-color:@white;
			font-size:1em;
			padding:0.6em 0.5em 0.5em;
			margin:1em 0;
			@media(min-width:768px){
				font-size:1.875em * 0.8;
				padding:0.6em 1em 0.5em;
			}
		}
		
		p{
			margin-bottom:0;
			
			@media(min-width:768px){
				margin-bottom:1em;
			}
		}
	}
	
	form{
		display:block;
		margin:2em 0;
		position:relative;
	
		label{
			width:90px;
			font-size:24px;
			text-transform:uppercase;
			font-weight:normal;
			display:block;
			margin:0 auto 5px;

			@media(min-width:768px){
				display:inline-block;
				padding-right:25px;
				margin:5px 0;
			}
		}

		input[type='text'],input[type='inf_field_Email']{
			width:320px;
			max-width:100%;
			background: rgba(0,0,0,0);
			border:2px solid @white;
			padding: 8px 12px;
			font-family:@sans;
			display:block;
			margin:0 auto 5px;

			@media(min-width:768px){
				display:inline-block;
				margin:5px 70px 5px 0;
			}
		}
		
		input[type="submit"]{
			padding:0.5em 4em;
			line-height:1;
			margin-top:2em;
	
			border-width:2px;
			border-style:solid;

			text-align:center;
			text-transform:uppercase;
			font-weight:bold;

			.transition();
			
			background: rgba(0,0,0,0);
			color:@white;
			border-color:@white;
			font-size:1.25em;
			font-family:@sans;
		}
	}


}

.cblock.video-gallery-block{
	background-color:@white;

	.gallery-item{
		float: none;
		vertical-align: top;
		margin: 0 0 1em;
	}

	@media(min-width:768px){
		padding: 5em 0;
	}
	
	header{
		text-align:left;
		padding:0 15px;
		
		h3{
			font-family: @serif;
			display:inline-block;
			vertical-align:middle;
		}


		a.nmp-btn{
			color:@green;
			border-color:@green;
			font-size:66%;
			float:right;
			padding: 0.7em 5em 0.6em 1em;
			position:relative;
		
			&:before{
				content:'';
				position:absolute;
				right:1.5em;
				top:49%;
				margin-top:-1px;
				width: 3em;
				height:0;
				border-top:1px solid @green;
				border-bottom:1px solid @green;
			}

			&:after{
				content:'';
				position:absolute;
				right:1em;
				top:0.8em;
				width: 0;
				height: 0;
				border-top: 0.4em solid transparent;
				border-left: 0.5em solid @green;
				border-bottom: 0.4em solid transparent;
			}
		}
		
	}

	a.video-thumb{

		.time{
			position:absolute;
			bottom:10px;
			right:16px;
			color:@white;
			border: 1px solid @white;
			padding: 1px 10px 5px;
		}
	}
	
	h5.video-cat{
		margin-top: 1em;
		font-weight:bold;
		text-transform:uppercase;
		
		display:none;
	}
	p{
		color:#7a7b79;
	}
	h5.posted-date{
		a{
			font-weight:200;
		}
		
		margin-bottom:0;
	}

	h2,h3,h5,p{
		padding:0 15px;
		
		@media(min-width:768px){
			padding:0;
		}	
	}
	
}

//hack	
.home{
	.cblock.video-gallery-block{
		h2,h3,h5,p{
			padding:0;
		}
	}
}

.cblock.video-block{
	height:740px;
	padding:0;
	background-color:@black;
	color:@white;
	background-size:cover;

	.container{
		height:100%;
		position:relative;

		.video-info{
			position:absolute;
			display:block;
			left:0;
			bottom:80px;
			text-align:left;
			margin:0 15px;
			padding:0 15px;

			@media(min-width:768px){
				width:100%;
				margin:0;
				padding:0;
			}
		
			a{
				color:@white;
			}
			
			a.video-title{
				display:block;
				position:relative;	
		
				h1{
					max-width:600px;
					display:inline-block;
					vertical-align:middle;
					margin-bottom:0;
					font-weight:200;
					line-height:1;
				}					

				&:before{
					content:'';
					position:relative;
					display:inline-block;
					vertical-align:middle;
					left:0;
					top:0;
					width:88px;
					height:88px;
					margin-right:25px;
					border:1px solid @white;
					border-radius:45px;			
				}
				&:after{
					content:'';
					position:absolute;
					left:34px;
					top:24px;
					width: 0;
					height: 0;
					border-top: 20px solid transparent;
					border-left: 28px solid @white;
					border-bottom: 20px solid transparent;
				}
			}
			
			hr{
				height: 2px;
				color: #a5a3a1;
				background-color: #a5a3a1;
				border: none;			
			}
			
			h4{
				text-transform:uppercase;
				font-size:1.125em;
				
				>a{
					font-weight:200;
				}
			}
		}
	}
}


/* SINGLE EVENT */

.event-video-block.cblock{

	@media(min-width:768px){
		padding-bottom:3em;
	}
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;

	color:@white;
	text-transform:uppercase;
	
	a.video-thumb{
		padding-bottom:45%;
	
		&:before, &:after{
			content:'';
			position:absolute;
			left:50%;
			top:50%;
		}
		&:before{
			margin-left:-45px;
			margin-top:-45px;
			width:88px;
			height:88px;
			border:1px solid @white;
			border-radius:45px;			
		}
		&:after{
			margin-left:-11px;
			margin-top:-21px;
			width: 0;
			height: 0;
			border-top: 20px solid transparent;
			border-left: 28px solid @white;
			border-bottom: 20px solid transparent;
		}
	}
	
	.event-title{
		text-align:left;
	
		h1{
			font-weight:200;
			margin-bottom:0.25em;
		}
		h2{
			font-weight:bold;
			font-size: @font-size-h2 * 1.15;
		}
	}
	
	hr{
		margin-top:5em;
	}
	
	h3{
		text-align:center;
		clear:both;
		font-size: @font-size-h2;
	}
}

.read-more-block.cblock{

	padding:2em 0;
	@media(min-width:768px){
		padding: 6em 0 5em;
	}

	overflow:auto;
	color:@gray;

	.read-more-hidden{
		display:none;
	}

	h4.read-more-toggle{
		text-align:center;
		clear:both;
		position:relative;
		padding:0 0 1em;
		margin:1em auto 0;
		display:block;

		font-size: 1.25em;
		font-weight:bold;
		color:@green;
		text-transform:uppercase;
		
		cursor:pointer;

		@media(min-width:768px){
			padding-top:1em;
		}

		&:before, &:after{
			content:'';
			position:absolute;
			box-sizing:content-box;
			width: 8px;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid @green;
			bottom:0;
		}
		&:before{
			transform:rotate(45deg);
			right:50%;
			margin-right:-6.5px;
		}
		&:after{
			transform:rotate(-45deg);
			left:50%;
			margin-left:-6.5px;
		}
	
		&.read-less{
		
			&:before, &:after{
				border-top: 8px solid @green;
				border-bottom:none;
				bottom:0;
			}

			&:before{
				right:auto;
				left:50%;
				margin-left:-6.5px;
				margin-right:auto;
			}		
			&:after{
				left:auto;
				right:50%;
				margin-right:-6.5px;
				margin-left:auto;
			}		

		}
	}
	
}

.key-speakers.cblock{
	text-align:center;
	background-color: @dark-blue;
	color: @white;
	overflow:auto;

	h1{
		text-transform:uppercase;
		font-size: @font-size-h1 * 0.83;
	}

	.speaker{
		text-align:left;
		margin-top:2em;
		margin-bottom:2em;

		img{
			margin-top:0.8em;
			width:100%;
			height:auto;
		}

		h2{
			font-weight:200;
			font-size: @font-size-h2 * 1.33;
			margin-bottom:0.2em;
		}
		h3{
			text-transform:uppercase;
			font-weight:bold;
		}

		p{
			line-height:1.4em;
		}

	}

}



.guest-speakers.cblock{
	text-align:center;

	h1{
		text-transform:uppercase;
		font-weight:200;
	}

	.speaker-boxes{
		position:relative;
		display:block;
		
		.speaker{
			position:relative;
			padding: 0 14px;
			display:inline-block;
			float:none;
			margin-bottom:2em;
	
			img, h6{
				margin:0;
				width:100%;
				height:auto;
			}
		
			h6{
				color: @white;
				padding: 10px 20px;
				background-color: @green;
				text-align:left;
				position:relative;
				cursor:pointer;


				&:before, &:after{
					content:'';
					position:absolute;
					box-sizing:content-box;
					width: 8px;
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
					border-bottom: 4px solid @white;
					bottom:50%;
				}

				&:before{
					-ms-transform:rotate(45deg);
					-webkit-transform:rotate(45deg);
					transform:rotate(45deg);
					right:25px;
				}
				&:after{
					-ms-transform:rotate(-45deg);
					-webkit-transform:rotate(-45deg);
					transform:rotate(-45deg);
					right:17px;
				}
				
				&.none{
					cursor:default;
				
					&:before, &:after{
						display:none;
					}
				}
			}

			&.active{		
				h6{
					&:before, &:after{
						content:'';
						position:absolute;
						right:20px;
						top:50%;
						margin-top:-7.5px;
						height:15px;
						width:5px;
						background-color:@white;
						border:none;
					}

					&:before{				
						-webkit-transform: skew(40deg);
						-moz-transform: skew(40deg);
						-o-transform: skew(40deg);	
						transform: skew(40deg);				
					}
					&:after{				
						-webkit-transform: skew(-40deg);
						-moz-transform: skew(-40deg);
						-o-transform: skew(-40deg);	
						transform: skew(-40deg);			
					}
				}
			}
		}
	}

	.guest-bio-box{
		position:relative;
		display:none;
		box-sizing:border-box;
		padding: 4.5em 5em;
		border: 1px solid @green;
		margin-top: 2.5em;
		
		.guest-bio{
			display:none;
			text-align:left;
			color:@gray;
			
			&.active{
				display:block;
			}
		}
	}

}

.video-testimonials.cblock{
	text-align:center;
	background-color:@white;
	
	h1{
		font-weight:200;
		text-transform:uppercase;
	}	
	a.video-thumb:before, a.video-thumb:after{
		content:'';
		position:absolute;
		left:50%;
		top:50%;
	}
	a.video-thumb:before{
		margin-left:-45px;
		margin-top:-45px;
		width:88px;
		height:88px;
		border:1px solid @white;
		border-radius:45px;			
	}
	a.video-thumb:after{
		margin-left:-11px;
		margin-top:-21px;
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-left: 28px solid @white;
		border-bottom: 20px solid transparent;
	}
	
	h2{
		font-family:@serif;
		font-weight:bold;
		margin-top:0.8em;
	}

}

.learn-more-block.cblock{
	text-align:center;
	background-color:@white;
	
	h1{
		font-weight:200;
		text-transform:uppercase;
	}
}

.event-agenda.cblock{
	text-align:center;
	background-color:@green;
	color:@white;

	h1{
		font-weight:200;
		text-transform:uppercase;
		margin-bottom:0;
	}	
	h2{
		font-weight:bold;
		text-transform:uppercase;
		margin-bottom:0;	
	}
	
	.nav-pills{
		margin-top:3em;
	
		>li{
			display:inline-block;
			float:none;
			margin: 0 15px;
			
			>a{
				color:@white;
				font-family:@serif;
				font-size:2.25em;
				font-weight:bold;
				
				.date{
					display:block;
					color:@black;
					font-family:@sans;
					font-size:66%;
					font-weight:200;
				}

			}
	
			&.active{
				>a, >a:hover, >a:focus{
					color:inherit;
					background:transparent;
					border-bottom:1px solid @white;
				}
			}
		}
	}
	
	.agenda-box{
		text-align:left;
		margin-top: 2em;
		
		.agenda-day{
			display:none;
			font-size:1.5em;
			
			&.active{
				display:block;
			}	
			
			.agenda-item{
				display:block;
				overflow:auto;
				margin:0.5em 0;
				
				.agenda-time{
					font-size:1.2em;
				}
				
				.agenda-name{
					font-weight:200;
					margin-top:0.15em;
				}
			}
		}
	}

}

.location-block.cblock{
	padding:0;

	.event-location{
		padding:25px;
		background-color:@white;
		font-weight:200;
		
		position:relative;
		display:block;
		width:100%;
		text-align:center;
		
		@media(min-width:992px){
			position:absolute;
			top:20%;
			right:60%;
			width:30%;
			max-width:400px;
			text-align:left;
		
			h4.loc-adr{
				padding-left:25px;
				background: url(../img/map.svg) no-repeat left top;
				background-size: 20px auto;
			}
			h4.loc-phone{
				padding-left:25px;
				background: url(../img/phone.svg) no-repeat left top;
				background-size: 20px auto;
			}
		}
		
		h3{
			margin-bottom:0;
		}
		ul{
			padding-left:25px;
			width:150px;
			margin:0.5 auto 0;
			text-align: left;
		
			@media(min-width:992px){
				margin: 0.5em 0 0;
			}
		}
	}
}

.buy-tickets.cblock{
	background-color:@dark-blue;
	color:@white;

	text-align:center;

	h1{
		font-weight:200;
		
		span.emphasis{
			color:@green;
			font-weight:bold;
			text-transform:uppercase;
		}
	}

	.col-md-4{
		@media(min-width:992px){
			margin-top:2em;
		}
	}
	
	h3{
		color:@green;
		font-weight:bold;
		text-transform:uppercase;
	}
	

	a.nmp-btn{
		color:@white;
		background-color:@green;
		border-color:@green;
		display:inline-block;
		margin:1em auto 0;
	}

	.row{
		white-space:nowrap;
			
		> *{
			white-space:normal;
		}
		
		> div{
			display:inline-block;
			float:none;
		}		
	}

}



.testimonial-slider-block.cblock{

	@media(min-width:768px){
		padding: 3em 0 0;
	}
	@media(min-width:992px){
		padding: 9em 0 8em;
	}
	background-color: @dark-blue;
	
	.testimonial-slider{
		li{
			width:50%;
			padding-bottom:155px;
		
			>p{
				font-size:1.6em;
				margin-bottom: 20px;
				line-height:1.4em;
			}
			
			.attr{
				color:@white;

				p{
					font-size:0.85em;
					text-align:center;
					margin:1em auto 0;
				}

			}
		}
		
		.slick-arrow.slick-prev{
			display:none !important;
		}
		
		.next-testimonial{
			cursor:pointer;
			color:@white;
			text-decoration:underline;
		}
	}
}

.image-gallery-block.cblock{
	padding:0;
	
	.gallery-slider{
		height:150px;
	
		.slick-slide{
			width:150px;
			height:150px;
			background-size:cover;
			background-repeat:no-repeat;
		}
	}
	
	.slick-arrow{
		display:none !important;
	}
}


/* EVENTS */

.event-menu{
	width:100%;
	list-style:none;
	padding:0.5em 0;
	margin:0;
	
	li{
		padding:0 0;
		margin: 0 0.5em 0.5em;
		display:inline-block;

		@media(min-width:992px){
			float:left;
			margin: 0 1.5em 0 0;
		}
		
		a{
			color:@white;
			font-weight:200;
			text-transform:uppercase;
			font-size:1.125em;
		}
	}
}

.events-list{
	>div{

		@media(min-width:768px){
			height:0;
			padding-top:0;
			padding-bottom:50%;
		}

	
		&.col-sm-6{
			
			hr{
				width:40%;
			}

			>a{
				@media(min-width:768px){
					position:absolute;
					top:2%;
					left:2%;
					height:96%;
					width:96%;
					padding:0;		
					margin-bottom:0;	
				}
			}

		}
		&.col-sm-12{

			hr{
				width:20%;
				margin-top:13px;
			}

			>a{
				@media(min-width:768px){
					position:absolute;
					top:1%;
					left:1%;
					height:98%;
					width:98%;	
					padding:0;	
					margin-bottom:0;	
				}
			}
		}
		
		>a{
			display:block;
			padding: 1em 0;
			margin-bottom:1em;

			background-color: rgba(21,33,44,0.8);
			color:@white;
			text-align:center;	
			background-size:cover;
			background-repeat:no-repeat;
			background-position:center;	

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
			.event{
				display:inline-block;
				vertical-align:middle;
				width:99%;
				padding:15px;
			}
			
			h2{
				font-family:@serif;
				font-size: @font-size-h2 * 1.2;
				margin-bottom:0;
			}
			h3{
				text-transform:uppercase;
				font-size: @font-size-h2;
				margin:0.25em auto 0.75em;
			}
			h4{
				text-transform:uppercase;
				font-weight:bold;
			}
		}
	}

}

/* LIVE EVENT */

.cblock.live-event-block{
	background-color:@dark-blue;
	color:@white;
	
	h1{
		font-size:@font-size-h1 * 1.2;
		margin-bottom:0.75em;
		text-transform:uppercase;
		font-weight:200;
	}
	
	#countdown-timer{
	
		h3{
			text-transform:uppercase;
			font-weight:bold;
			margin-bottom:0.4em;
		}
		
		#clock{
			font-size:3em;
			font-family:@serif;
		}
	}
	
	.live-video{
		padding-left:15px;
		padding-right:15px;

		.video{
			position:relative;
			margin: 0 auto;

			iframe{
				max-width:100%;
				z-index:1;
			}
		
			a.iframe-cbox{
				position:absolute;
				height:100%;
				width:100%;
				top:0;
				left:0;
				z-index:99999;
				display:block;
			}
		}
	}
	
	form{
		padding: 0 15px !important;
	
		legend{
			font-size:@font-size-h3;
			text-transform:uppercase;
			font-weight:bold;
			margin-bottom:0.4em;
			border-bottom:none;
			color:@white;
		}
	
		input[type=email]{
			background: rgba(0,0,0,0);
			border:2px solid @white;
			padding: 8px 12px;
			height:45px;
			line-height:1;
			font-family:@sans;
			display:inline-block;
			margin:0 auto @font-size-base;
			
			@media(min-width:480px){
				width:75%;
			}
		}
		input[type=submit]{
			text-transform:uppercase;
			color:@dark-blue;
			background-color:@white;
			display:inline-block;
			font-size:1.25em;
			font-weight:bold;
			margin-top:0;
			margin-bottom:@font-size-base;
			padding-bottom:9px;
		}

		
	}

}


/* PRODUCTS */

.products-list{
	text-align:center;

	>div{
		margin-bottom:5em;
	
		&:nth-child(odd){
			clear:both;
		}
	}

	.img{
		display:block;
		position:relative;
		width:100%;
		border:1px solid @light-gray;
		margin-bottom:1.25em;
		
		box-sizing:content-box;
		padding-bottom:66.67%;
		height:0;
		overflow:hidden;

		background-size:cover;
		background-repeat:no-repeat;
		background-position:center top;
		
		img{
			position:absolute;
			width:100%;
			height:auto;
			top:0;
			eft:0;
		}

	}
	
	h2{
		font-family:@serif;
		margin:0.5em auto;
		
		>a{
			color:@black;
		}
	}
	
	p{
		margin-bottom:1.5em;
	}

	.nmp-btn, .nmp-btn:hover, .nmp-btn:active, .nmp-btn:focus{
		color:@white;
		background-color: @green;
		border-color: @green;
		padding: 0.5em 1em;
		letter-spacing:2px;
	}		

}

.product-single{

	.entry-summary{
		display:block;
		width:100%;
		border-bottom: 1px solid @light-gray;
		font-size:1.5em;
		margin-bottom:1em;
	}


	article{
		padding: 3em 0;

		@media(min-width:992px){
			padding-right:3em;
		}
	}
	
	aside{
		padding: 3em 0;
		
		.buy-now{
			text-align:center;
			color:@gray-dark;
						
			a{
				color:@gray-dark;
				text-decoration:underline;
				
				&:hover,&:active,&:focus{
					color:@green;
				}
			}

			a.nmp-btn{
				color:@white;
				background-color: @green;
				border-color: @green;
				padding: 0.5em 1em;
				display:block;	
				margin-bottom:1em;
				text-decoration:none;
				
				&:hover,&:active,&:focus{
					color:@white;
				}
				
			}

		}

		.testimonial-slider{
			margin-top:1em;
			
			li{
				width:100%;
				
				p{
					font-weight:200;
					font-size:1.125em;
					line-height:1.375;
				}
			}
			
			.prev-testimonial, .next-testimonial{
				position:absolute;
				bottom:35px;
				cursor:pointer;
				width:12px;
				height:12px;
				border-left:3px solid @dark-blue;
				border-bottom:3px solid @dark-blue;
				border-radius: 0 0 0 3px;
				z-index:20;
				
				&:hover, &:active{
				border-left:3px solid @dark-blue;
				border-bottom:3px solid @dark-blue;				
				}
			}
			.prev-testimonial{
				left:30px;
				-ms-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			.next-testimonial{
				right:30px;
				-ms-transform: rotate(-135deg);
				-webkit-transform: rotate(-135deg);
				transform: rotate(-135deg);
			}
			
			
		}
		
	}

}

.product-footer{
	background-repeat:no-repeat;
	background-size: auto 110%;	
	
	background-position: -99999px center;
	@media(min-width:992px){
		background-position: 60% center;
	}
}

/* VIDEOS */

.post-type-archive-video {

	.featured-video{
		text-align:left;
		border-bottom:1px solid @light-gray;
		margin-bottom:2em;
		
		h2{
			font-size: @font-size-h2 * 1.2;
		}
		
		a.video-thumb{
			&:before{
				content:'';
				position:absolute;
				left:50%;
				top: 50%;
				margin-left:-45px;
				margin-top:-45px;
				width:88px;
				height:88px;
				border:1px solid @white;
				border-radius:45px;			
				display:block;		
			}	
			&:after{
				content:'';
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-11px;
				margin-top:-21px;
				width: 0;
				height: 0;
				border-top: 20px solid transparent;
				border-left: 28px solid @white;
				border-bottom: 20px solid transparent;
			}

		}
	}

	.videos-page-subtitle{
		text-align:left;
		font-family:serif;
		text-transform:uppercase;
	}

	.gallery-item{
		margin-bottom:2em;
	}

	@media(min-width:992px){
		.col-md-3:nth-child(4n+1){
			clear:both;
		}	
	}

}

/* FOOTER */

#page-footer {
	background-color:@white;
	padding:8em 0 5.5em;
  	min-height: @footer_height;
	position: relative;
	display:block;
	overflow:visible;
	z-index:1000;
	text-align:center;
	text-transform: uppercase;
	
	ul{
		padding:0;
	}
	
	nav{
		display:block;
		width:auto;
		margin: 1em 0;
	
		ul{
			float:none;
		
			li{
				display:inline-block;
				float:none;
			
				a{
					color:@green;
					font-weight:bold;

					&:hover, &:focus, &:active{				
						color:darken(@green, 15%);
					}

				}

			}
			
		}
	}
	
	p.copyright{
		color:#ccc;
	}
}

#page-footer:after{
	content:'';
	position:absolute;
	z-index:2000;
	left:50%;
	top:-70px;
	margin-left:-70px;
	width:140px;
	height:140px;
	background: url(../img/nmpro-badge.png) no-repeat center center;
}

/* MISC */
.page-header {
	border-bottom:none;
}

h1.page-title, .page-header h1{
	font-size: @font-size-h1 * 1.25;
	text-align:center;
	font-weight:200;
	margin-top:1.3em;
}

ol li{
	font-weight:bold;
	font-size:1.5em;
	margin-top:0.5em;
}

.nmp-btn{
	display:inline-block;
	padding:1em;
	line-height:1;
	
	border-width:2px;
	border-style:solid;

	text-align:center;
	text-transform:uppercase;
	font-weight:bold;

	.transition();
}
.nmp-btn:hover,
.nmp-btn:active,
.nmp-btn:focus{
	text-decoration:none;
}


a.video-thumb{
	position:relative;
	display:block;
	width:100%;
	height:0;
	padding-bottom:56.25%;

	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	background-color: @black;
}

li.social{

	height:36px;
	width:36px;
	margin: 0 10px;
	display:inline-block;

	a{
		display:block;
		height:100%;
		width:100%;
		overflow:hidden;
		text-indent:-9999px;
		padding:0;

		background-image:url(../img/social-sprite.png);
		background-repeat:no-repeat;
		
		&.facebook{
			background-position: 0 0;
		}
		&.twitter{
			background-position: -54px 0;
		}
		&.youtube{
			background-position: -108px 0;
		}
	}

}

header.navbar {

	>.container{
		@media(min-width:992px){
			width:100%;
			padding:0 30px;
		}
		
		@media(min-width:1200px){
			width:1170px;
			padding:0 15px;
		}
	}

	.navbar-nav li.social{
		height:18px;
		width:18px;
		margin-top:15px;
		margin-right:0;
		
		@media(min-width:992px){
			margin-left:8px;
		}
		@media(min-width:1200px){
			margin-left:10px;
		}
			
		a{
			background-size:auto 100%;
		
			&.facebook{
				background-position: 0 0;
			}
			&.twitter{
				background-position: -27px 0;
			}
			&.youtube{
				background-position: -54px 0;
			}

		}
	}
	
	&.sticky{
		.navbar-nav li.social{
			margin-top:6px;
		}	
	}
	
	
	.nav#menu-main{
		>li{		
			padding:6px 0;
		
			>a{
				padding: 0;
				font-weight:200;
				letter-spacing:4px;
			}

			margin-left: 30px;
			
			@media(min-width:992px){
				margin-left: 44px;
			}
			@media(min-width:1200px){
				margin-left: 61px;
			}
			
			&:first-child{
				margin-left: 0;
			}
		}
	}
}

/* accordion */

.accordion-container{
  display:block;
  position: relative;
  height: auto;
  margin-top: 1em;

	.accordion-set{
	  position: relative;
	  height: auto;
	  text-align:left;

		>a{
			display: block;
			position:relative;
			padding: 10px 47px 10px 15px;
			text-decoration: none;
			color: @green;
			font-weight: 600;
			border-bottom: 1px solid @light-gray;
			.transition();

			&:before, &:after{
				content:'';
				position:absolute;
				box-sizing:content-box;
				width: 8px;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 4px solid @green;
				bottom:15px;
			}

			&:before{
				-ms-transform:rotate(45deg);
				-webkit-transform:rotate(45deg);
				transform:rotate(45deg);
				right:20px;
			}
			&:after{
				-ms-transform:rotate(-45deg);
				-webkit-transform:rotate(-45deg);
				transform:rotate(-45deg);
				right:12px;
			}

			&.active{
				background-color:@green;
				color: @white;

				&:before, &:after{
					right:15px;
					top:50%;
					margin-top:-7.5px;
					height:15px;
					width:5px;
					background-color:@white;
					border:none;
				}

				&:before{				
					-webkit-transform: skew(40deg);
					-moz-transform: skew(40deg);
					-o-transform: skew(40deg);	
					transform: skew(40deg);				
				}
				&:after{				
					-webkit-transform: skew(-40deg);
					-moz-transform: skew(-40deg);
					-o-transform: skew(-40deg);	
					transform: skew(-40deg);			
				}

			}

		}

		.accordion-content{
			position:relative;
			width: 100%;
			height: auto;
			border-bottom: 1px solid @light-gray;
			display:none;
			padding: 10px 15px;
			
			>:last-child{
				margin-bottom:0;
			}	

		}

	}
}

/* testimonial slider */

.testimonial-slider{
	position:relative;
	display:block;
	padding:0;
	margin:0;
	list-style:none;
	
	background-repeat:no-repeat;
	background-position:left top;
	text-align:center;


	li{
		position:relative;
		display:inline-block;
		padding:0 0 115px;
		margin:0;
		overflow:visible;
		text-align:left;
		
		>p{
			padding:60px 40px;
			color:@white;
			background-color:@dark-blue;
			font-style:italic;
		}
		
		.attr{
			position:absolute;
			z-index:2;
			width:100%;
			left:0;
			bottom: 0;
			
			img{
				display:block;
				margin: 1.85em auto 1em;
				width:100px;
				height:100px;
				border-radius:62px;
				border: 1px solid @light-gray;

				background-color:@white;
				overflow:hidden;				
			}
			
			label{
				display:block;
				text-align:center;
			}

			label[name="title"]{
				font-weight:normal;
				font-style:italic;
			}
			
		}
			
	}
	
	.slick-arrow{
	}

}

.container-xl{
	max-width:1550px;
	
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

	&:before,&:after{
		content:'';
		display:'table';
	}
}

dl.dl-horizontal{
	@media(min-width:768px){

		dt{
			width:100px;
			padding-right:20px;
		}
	
		dd{
			margin-left:100px;
		}
		
		dt, dd{
			font-style:italic;
			border-top: 1px solid @light-gray;
			line-height:1;
			padding-top: 0.7em;
			padding-bottom: 0.4em;
			text-align:left;
		}
		
		dt:first-of-type, dd:first-of-type{
			border-top:none;
		}
	}
}

.green{
	color:@green;
}

a.anchor{
	position:absolute;
	height:0;
	width:0;
	top:-70px;
}

.strong{
	font-weight:bold;
}

.float:hover, .float:focus, .float:active {
  -webkit-transform: none;
  transform: none;
}

#colorbox.language_popup{
	#cboxContent{
		background:@black;
		color:@white;
	}

	#cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxMiddleLeft, #cboxMiddleRight, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight{
		display:none;
	}
	
	#cboxLoadedContent {
		#language_choice{
			text-align:center;
			
			padding: 200px 10px 10px;
			margin:0 auto;


			h4{
				font-weight:200;
				font-style:italic;
			}
			
			ul{
				list-style:none;
				padding:0;
				
				li{
					margin: 1em auto;
				
					
					a{
						color:@white;
						text-transform:uppercase;
						font-size:@font-size-h2;
						font-weight:200;
						letter-spacing:4px;
					}
				}
	
			}

			background-position:center 30px;
			background-repeat:no-repeat;
			background-image:url(../img/nmpro-badge.png);
		}	
	}
}