/*********************
FONT FACE
*********************/

@font-face{
	font-family: 'Glober';
	src: url('glober-regular-webfont.eot');
	src: url('glober-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('glober-regular-webfont.woff') format('woff'),
	     url('glober-regular-webfont.ttf') format('truetype'),
	     url('glober-regular-webfont.svg#glober-regular-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Glober';
	src: url('glober-bold-webfont.eot');
	src: url('glober-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('glober-bold-webfont.woff') format('woff'),
	     url('glober-bold-webfont.ttf') format('truetype'),
	     url('glober-bold-webfont.svg#glober-bold-webfont') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face{
	font-family: 'Glober';
	src: url('glober-bold-italic-webfont.eot');
	src: url('glober-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('glober-bold-italic-webfont.woff') format('woff'),
	     url('glober-bold-italic-webfont.ttf') format('truetype'),
	     url('glober-bold-italic-webfont.svg#glober-bold-italic-webfont') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: 'Glober';
	src: url('glober-regular-italic-webfont.eot');
	src: url('glober-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('glober-regular-italic-webfont.woff') format('woff'),
	     url('glober-regular-italic-webfont.ttf') format('truetype'),
	     url('glober-regular-italic-webfont.svg#glober-regular-italic-webfont') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?-inm9hx');
	src:url('icomoon.eot?#iefix-inm9hx') format('embedded-opentype'),
		url('icomoon.woff?-inm9hx') format('woff'),
		url('icomoon.ttf?-inm9hx') format('truetype'),
		url('icomoon.svg?-inm9hx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-greenberg:before {
	content: "\47";
}
.icon-grid:before {
	content: "\67";
}
.icon-search:before {
	content: "\73";
}
.icon-calendar:before {
	content: "\63";
}
.icon-envelope:before {
	content: "\65";
}
.icon-menu:before {
	content: "\6d";
}
.icon-close:before {
	content: "\78";
}
.icon-facebook:before {
	content: "\66";
}
.icon-twitter:before {
	content: "\74";
}
.icon-feed:before {
	content: "\72";
}
.icon-linkedin:before {
	content: "\6c";
}
