@font-face {
  font-family: 'EudaldNews';
  src: url('../fonts/EudaldNews-Bold.eot');
  src: url('../fonts/EudaldNews-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/EudaldNews-Bold.woff') format('woff'), /* Modern Browsers */ url('../fonts/EudaldNews-Bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/EudaldNews-Bold.svg#5b4038336973a29c14914c0a293cb8fb') format('svg');
  font-style: normal;
  font-weight: 700;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'EudaldNews';
  src: url('../fonts/EudaldNews-Medium.eot');
  src: url('../fonts/EudaldNews-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/EudaldNews-Medium.woff') format('woff'), /* Modern Browsers */ url('../fonts/EudaldNews-Medium.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/EudaldNews-Medium.svg#d42264f9b07cc8c1e878d74181991b9b') format('svg');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'National';
  src: url('../fonts/National-Bold.eot');
  src: url('../fonts/National-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/National-Bold.woff') format('woff'), /* Modern Browsers */ url('../fonts/National-Bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/National-Bold.svg#2757342ce4032dcc4479b1f9556ffdd5') format('svg');
  font-style: normal;
  font-weight: 700;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'National';
  src: url('../fonts/National-Book.eot');
  src: url('../fonts/National-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/National-Book.woff') format('woff'), /* Modern Browsers */ url('../fonts/National-Book.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/National-Book.svg#62964daa208bbf45b5fd237d4707a30a') format('svg');
  font-style: normal;
  font-weight: 400;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'National';
  src: url('../fonts/National-Light.eot');
  src: url('../fonts/National-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/National-Light.woff') format('woff'), /* Modern Browsers */ url('../fonts/National-Light.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/National-Light.svg#883f8766c5a079ca1bc5d2f5340c2057') format('svg');
  font-style: normal;
  font-weight: 200;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: normal;
  line-height: 1.2;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 65%;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
h5 small,
h6 small,
h4 .small,
h5 .small,
h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 48px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 16px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 16px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 24px;
  }
}
.hline {
  overflow: hidden;
  text-align: center;
  clear: both;
}
.hline > span {
  position: relative;
  display: inline-block;
}
.hline > span:before,
.hline > span:after {
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 4px solid #DFDFDF;
  width: 591px;
  /* half of limiter*/
  margin: 0 20px;
}
.hline > span:before {
  right: 100%;
}
.hline > span:after {
  left: 100%;
}
small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
.text-muted {
  color: #999999;
}
.text-primary {
  color: #0a2b3b;
}
.text-primary:hover {
  color: #030b0f;
}
.text-warning {
  color: #8a6d3b;
}
.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
.text-danger:hover {
  color: #843534;
}
.text-success {
  color: #3c763d;
}
.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
.text-info:hover {
  color: #245269;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.list-inline > li:first-child {
  padding-left: 0;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.25;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
  .dl-horizontal dd:before,
  .dl-horizontal dd:after {
    content: " ";
    display: table;
  }
  .dl-horizontal dd:after {
    clear: both;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote small,
blockquote .small {
  display: block;
  line-height: 1.25;
  color: #999999;
}
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small,
blockquote.pull-right .small {
  text-align: right;
}
blockquote.pull-right small:before,
blockquote.pull-right .small:before {
  content: '';
}
blockquote.pull-right small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
blockquote:before,
blockquote:after {
  content: "";
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.25;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "National", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #15212c;
  background-color: #e3e4dd;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #289645;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #185a29;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 0px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.25;
  background-color: #e3e4dd;
  border: 1px solid #dddddd;
  border-radius: 0px;
  -webkit-transition-property: all 0.2s ease-in-out;
  -webkit-transition-duration: 0.75s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: all 0.2s ease-in-out;
  -moz-transition-duration: 0.75s;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-property: all 0.2s ease-in-out;
  -ms-transition-duration: 0.75s;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: all 0.2s ease-in-out;
  -o-transition-duration: 0.75s;
  -o-transition-timing-function: ease-in-out;
  transition-property: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  transition-timing-function: ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
h1 {
  font-family: inherit;
  color: inherit;
}
h2 {
  font-family: inherit;
  color: inherit;
}
h3 {
  font-family: inherit;
  color: inherit;
}
h4 {
  font-family: inherit;
  color: inherit;
}
h5 {
  font-family: inherit;
  color: inherit;
}
/*# sourceMappingURL=/app/themes/graphicfusion/assets/css/main.min.css.map */